<!DOCTYPE html>
<html>
<head>
    <title>Shippable Assignment</title>
    <meta charset="utf-8" />
    <script src="scripts/jquery-2.2.0.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="scripts/jquery.blockUI.js"></script>
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-sanitize.js"></script>
    <script src="scripts/index.js"></script>
</head>
<body ng-app="myApp" ng-controller="MyCtrl">
    <div id="blockUi" hidden="hidden"></div>
    <h1>Shippable Assignment</h1>
    <div class="container">
        <div class="col-md-12 col-offset-2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Enter Github Repository URL..." ng-model="url">
                        <span class="input-group-btn">
                            <button ng-click="getDetails()" class="btn btn-default" type="button">Get Details</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row col-md-8" ng-if="isValid">
                <div class="row">
                    <h3>Total Open Issues : <span>{{totalIssue}}</span></h3>
                </div>
                <div class="row">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
                                        Number of open issues that were opened in the last 24 hours
                                        <span class="badge" style="float:right;">{{issueCntFor24HrsList.length}}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse1" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div ng-if="issueCntFor24HrsList.length == 0">
                                        <h3>No Issues To Display.</h3>
                                    </div>
                                    <table ng-if="issueCntFor24HrsList.length != 0" class="table table-striped ">
                                        <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Issue Name</th>
                                                <th>Issue Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in issueCntFor24HrsList">
                                                <td>{{$index+1}}</td>
                                                <td><div ng-bind-html="x.IssueName"></div></td>
                                                <td>{{ x.IssueDate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        Number of open issues that were opened more than 24 hours ago but less than 7 days ago
                                        <span class="badge" style="float:right;">{{issueCnt24HrsTo7DaysList.length}}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse2" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div ng-if="issueCnt24HrsTo7DaysList.length == 0">
                                        <h3>No Issues To Display.</h3>
                                    </div>
                                    <table ng-if="issueCnt24HrsTo7DaysList.length != 0" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Issue Name</th>
                                                <th>Issue Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in issueCnt24HrsTo7DaysList">
                                                <td>{{$index+1}}</td>
                                                <td><div ng-bind-html="x.IssueName"></div></td>
                                                <td>{{x.IssueDate}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        Number of open issues that were opened more than 7 days ago
                                        <span class="badge" style="float:right;">{{issueCntMoreThan7DaysList.length}}</span>
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse3" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div ng-if="issueCntMoreThan7DaysList.length == 0">
                                        <h3>No Issues To Display.</h3>
                                    </div>
                                    <table ng-if="issueCntMoreThan7DaysList.length != 0" class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>Sr.No</th>
                                                <th>Issue Name</th>
                                                <th>Issue Date</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="x in issueCntMoreThan7DaysList">
                                                <td>{{$index+1}}</td>
                                                <td><div ng-bind-html="x.IssueName"></div></td>
                                                <td>{{ x.IssueDate }}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
